#fcs-wrapper {
    display: flex;
    position: relative;
}
#fcs-input {
    height: 35px;
    border: 1px solid #d5d5d5;
    box-shadow: inset 0 0 6px #caccdc;
    border-radius: 5px;
    width: 100%;
    text-indent: 10px;
    outline: 0;
    color: #454545;
    letter-spacing: 0.4px;
    font-size: 14px;
}